<footer class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
    <!-- Grid -->
    <div class="grid  items-center gap-5">
      
      <div class="inline-flex justify-center gap-x-2 text-sm text-gray-500 hover:text-gray-800" href="#">
        &copy; MAGANG UNAND 2025 <span><a href="https://www.instagram.com/rimbaacrew?igsh=MWg0Z2p6a2kzZjFvcA==" class="underline hover:text-green">Rimba Crew</a></span>
      </div>
   
    </div>
    <!-- End Grid -->
  </footer>

<script src="preline.js"></script>
</body>
</html>