<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arboretum QRCode</title>
    <link rel="icon" type="image/png" href="/sumbar.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-green-800 text-white py-4">
        <div class="container mx-auto flex justify-between items-center px-6">
            <div class="flex items-center space-x-4">
                <img src="/sumbar.png" alt="logo sumbar" class="h-11 w-11">
                <div>
                <h1 class="text-xl font-bold">ARBOCODE</h1>
                <h3 class="font-bold">UPTD BSPTH SUMATERA BARAT</h1>
            </div>
            </div>
            <!-- <nav class="space-x-6">
                <a href="/" class="text-white hover:underline">Beranda</a>
                <a href="/kelola" class="text-white hover:underline">Kelola QRCode</a>
            </nav> -->
            <div class="relative">
                <!-- <input type="text" placeholder="Cari..." class="pl-10 pr-4 py-2 rounded-full focus:outline-none focus:ring focus:ring-green-300">
                <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35m1.75-4.4a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0z" />
                </svg> -->
            </div>
        </div>
    </header>
</body>
</html>