<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arboretum QRCode</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="/sumbar.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-green-800 text-white py-4">
        <div class="container mx-auto flex justify-between items-center px-6">
            <div class="flex items-center space-x-4">
                <img src="/sumbar.png" alt="logo sumbar" class="h-11 w-11">
                <div>
                <h1 class="text-xl font-bold">ARBOCODE</h1>
                <h3 class="font-bold">UPTD BSPTH SUMATERA BARAT</h1>
            </div>
            </div>
            <nav class="space-x-6">
                <a href="/" class="text-white hover:underline">Beranda</a>
                <a href="/kelola" class="text-white hover:underline">Kelola QRCode</a>
            </nav>
            <div class="relative">
                <form id="logoutForm" action="/auth/logout" method="POST">
                    <button onclick="handleLogout(event)" class="rounded-full hover:bg-green-700 transition">
                        <span class="material-icons p-2 group-hover:text-red-200">logout</span>
                    </button>
                </form>                
            </div>
        </div>
    </header>
</body>
</html>

<script>
    function handleLogout(event) {
        event.preventDefault(); // Prevent form from submitting immediately

        Swal.fire({
            title: 'Logout',
            text: 'Apakah anda yakin ingin keluar?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#dc2626',
            cancelButtonColor: '#4b5563',
            confirmButtonText: 'Ya, Logout',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('logoutForm').submit(); // Submit the form only if confirmed
            }
        });
    }
</script>

